PORT=add port number 
NODE_ENV=development 

MONGODB_URI=add your connection string

#CORS (frontend URL)
FRONTEND_URL=add frontend url

# Allowed origins for cors 
ALLOWED_ORIGINS=add frontend url

GOOGLE_CLIENT_ID=add Google OAuth client ID
GOOGLE_CLIENT_SECRET=add Google OAuth client secret
